# WordPress
wp-config.php
wp-content/uploads/
wp-content/backup-*
wp-content/advanced-cache.php
wp-content/wp-cache-config.php
wp-content/plugins/hello.php

# Backups
*.tar
*.tar.gz
*.zip
*.rar

# IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
.DS_Store

# Node
node_modules/
npm-debug.log
yarn-error.log

# Logs
*.log
